f@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {background-color: #f1f1f1; color: #0f141e;
/* font-size: 16px;
font-weight: normal;
font-family: 'Roboto', sans-serif; 
это тоже самое что записать эти свойство в строчку. 
Смотри следующую строчку*/
font: normal 16px 'Roboto', sans-serif;}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color: gray;
}
.avatar {
    width: 300px;
    border-radius: 25px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
}
.info{
    display: flex;
    margin-bottom: 20px;
}
.info-text{
    margin-left: 40px;
}
.info-text h4{
    margin-bottom: 10px;
}
.info p{
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /* Это иллюстрация работы с текстом
    text-transform: uppercase; 
    letter-spacing: 8px;
    word-spacing: 34px;*/
}
.container {
    max-width: 750px;
    margin: auto;
    padding-top: 20px;
}
/* .social {
    background: green;
    padding: 15px 40px;
    margin: 5px;

    border: 5px solid red;
    border-right-color: blue;
} */
.bg-yellow{
    background: #fff9dc;
}
.bg-green{
    background: #e5ffe7;
}
.bg-red{
    background: #ffe5e5;
}
.card{
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;

}
.card h2{
    margin-bottom: 10px;
}
.list{
    padding: 0 20px;
}
.list li{
    color: #86898f;
    margin-bottom: 10px;
}
.table{
    width: 100%;
}
.table td{
    padding-bottom: 10px;
}
.table th{
    text-align: left;
}
.table td:nth-child(2),
.table td:nth-child(3){
    color: #86898f;
}
.link-list{
    list-style: none;
    padding: 0;
}
.link-list li{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
.contact h2{
    text-align: center;

}

.form-group label{
    display: block;
    font-size: 14px;
    color: #86898f;
}
.form-group input,
.form-group textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    /* background: transparent; */
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    font-family: inherit;
    outline: none;
}
.btn{
    background: black;
    padding: 15px 20px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.9;
}
